{{#each files}}
    <div class="sharedFile">
        <div class="content">
            <img src="/file/load/{{_id}}">
        </div>
        <div class="details">
            <table class="bordered">
                <tr>
                    <td>Nazwa:</td>
                    <td>{{filename}}</td>
                </tr>
                <tr>
                    <td>Właściciel:</td>
                    <td>{{metadata.owner.name}} {{metadata.owner.surname}}</td>
                </tr>
                <tr>
                    <td>Rozmiar:</td>
                    <td>{{length}} KB</td>
                </tr>
                <tr>
                    <td>Dodano:</td>
                    <td>{{metadata.uploadDate}}</td>
                </tr>
                <tr>
                    <td>Udostępniono:</td>
                    <td>{{metadata.sharedDate}}</td>
                </tr>
            </table>
            <div class="menu">
                <a href="/file/download/{{_id}}">
                    <button class="btn">
                        <i class="material-icons">file_download</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
{{/each}}
