<div class="container">
    <div class="col s6">
        <div class="card card-body">
            <h3 class="center-align">Rejestracja</h3>
            <form action="/auth/register" method="post" class="authForm">
                <div class="input-field col s6">
                    <input id="name" type="text" name="nameInput" value="{{name}}" required>
                    <label for="name">Imię</label>
                </div>
                <div class="input-field col s6">
                    <input id="surname" type="text" name="surnameInput" value="{{surname}}" required>
                    <label for="surname">Nazwisko</label>
                </div>
                <div class="input-field col s6">
                    <input id="email" type="email" name="emailInput" value="{{email}}" required>
                    <label for="email">E-mail</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="password" name="passwordInput" value="{{password}}" required>
                    <label for="password">Hasło</label>
                </div>
                <div class="input-field col s6">
                    <input id="confirmPass" type="password" name="confirmPasswordInput" value="{{confirmPassword}}" required>
                    <label for="confirmPass">Powtórz hasło</label>
                </div>
                <button type="submit" class="registerBtn btn">Zarejestruj</button>
            </form>
        </div>
    </div>
</div>