<div class="filesSection mb-5">
    {{#if files}}
        <h3>Pliki</h3>
    {{/if}}
    {{#each files}}
        <div class="file">
            <img src="/file/load/{{_id}}">
            <p>{{filename}}</p>
            <div class="fileMenu">
                <div class="fileActions">
                    <a href="/file/download/{{_id}}" title="Pobierz">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="fileActions">
                    <a href="/shared/{{_id}}" title="Udostępnij">
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="fileActions">
                    <a href="/folder/{{_id}}" title="Szczegóły">
                        <i class="fa fa-file" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="fileActions">
                    <a href="/file/remove/{{_id}}" title="Usuń">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <span class={{_id}}></span>
        </div>
    {{/each}}
</div>

<script src="/js/helpers/submitUploadForm.js"></script>