<div class="filesSection">
    {{#if files}}
        <h3>Pliki</h3>
    {{/if}}
    {{#each files}}
        <div class="file">
            <img src="/file/load/{{_id}}">
            <p>{{filename}}</p>
            <div class="fileMenu">
                <div class="fileActions">
                    <a href="/file/download/{{_id}}" title="Pobierz">
                        <i class="small material-icons">file_download</i>
                    </a>
                </div>
                <div class="fileActions">
                    {{#if metadata.shared}}
                        <a href="/shared/unshare/{{_id}}" title="Anuluj udostępnianie">
                            <i class="small material-icons">cancel</i>
                        </a>
                    {{else}}
                        <a href="/shared/share/{{_id}}" title="Udostępnij">
                            <i class="small material-icons">share</i>
                        </a>
                    {{/if}}
                </div>
                <div class="fileActions">
                    <a class="modal-trigger" data-target="{{_id}}" title="Szczegóły">
                        <i class="small material-icons">search</i>
                    </a>
                </div>
                <div class="fileActions">
                    <a href="/file/remove/{{_id}}" title="Usuń">
                        <i class="small material-icons">delete</i>
                    </a>
                </div>
            </div>
            <span class={{_id}}></span>
        </div>
        {{> modals/_fileDetails}}
    {{/each}}
</div>
<script src="/js/helpers/submitUploadForm.js"></script>