<div class="foldersSection mb-5">
    {{#each openedFolder}}
        <h4>
            {{#if copies}}
                {{name}}({{copies}})
            {{else}}
                {{name}}
            {{/if}}
            <small>
                <i data-target="changeFolderNameModal" class="modal-trigger material-icons">create</i>
            </small>
        </h4>
    {{/each}}
    {{#if folders}}
        <h3>Foldery</h3>
    {{/if}}
    {{#each folders}}
        <div class="folder">
            <div class="folderTitle valign-wrapper">
                <i class="material-icons">folder</i>
                {{#if copies}}
                    {{name}}({{copies}})
                {{else}}
                    {{name}}
                {{/if}}
            </div>
            <div class="folderMenu">
                <div class="folderActions">
                    {{#if shared}}
                        <a href="/shared/unshare/{{_id}}" title="Anuluj udostępnianie">
                            <i class="material-icons">cancel</i>
                        </a>
                    {{else}}
                    <a href="/shared/share/{{_id}}" title="Udostępnij">
                        <i class="material-icons">share</i>
                    </a>
                    {{/if}}
                </div>
                <div class="folderActions">
                    <a href="/folder/{{_id}}" title="Otwórz">
                        <i class="material-icons">folder_open</i>
                    </a>
                </div>
                <div class="folderActions">
                    <a href="/folder/remove/{{_id}}" title="Usuń">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
            <span class={{_id}}></span>
        </div>
    {{/each}}
</div>

