{{#if share_msg}}
    <div class="teal darken-3">
        <div class="message valign-wrapper">Udostępniono pod adresem:
            <div class="link">
                <b>{{share_msg}}</b>
            </div>
            <i class="material-icons " onclick="copyLink('b')">content_copy</i>
        </div>
    </div>
{{/if}}

{{#if unshare_msg}}
    <script>
        removeMessage();
    </script>
    <div class="teal darken-3">
        <div class="message">
            {{unshare_msg}}
        </div>
    </div>
{{/if}}

{{#if success_register_msg}}
    <div class="teal darken-3">
        <div class="message center-align">{{success_register_msg}}</div>
    </div>
{{/if}}

{{#if fail_register_msg}}
    <div class="red darken-4">
        <div class="message center-align">{{fail_register_msg}}</div>
    </div>
{{/if}}

{{#if success_logout_msg}}
    <div class="teal darken-3">
        <div class="message center-align">{{success_logout_msg}}</div>
    </div>
{{/if}}

{{#if change_msg}}
    <script>
        Materialize.toast('Pomyślnie zapisano', 2000)
    </script>
{{/if}}

{{!--passport--}}
{{#if error}}
    <div class="red darken-4">
        <div class="message center-align">{{error}}</div>
    </div>
{{/if}}