<div id="cname{{_id}}" class="modal changeFileNameModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zmień nazwę</h5>
            </div>
            <div class="modal-body">
                {{#if parent}}
                <form method="post" action="/file/rename/{{_id}}/{{parent}}">
                {{else}}
                <form method="post" action="/file/rename/{{_id}}">
                {{/if}}
                <input class="form-control" value="{{filename}}" type="text"
                       name="renameInput" required
                       autocomplete="off"
                       placeholder="Podaj nową nazwę">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modal-action modal-close waves-effect waves-green">Anuluj</button>
                    <input type="submit" class="btn btn-primary" value="Ok">
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
