<div id="profile">
    <div class="container">
        <div class="col s6">
            <table>
                <tbody>
                <tr>
                    <td class="formsTitle">
                        <h5>Profil</h5>
                        <p>Możliwość zmiany informacji o profilu</p>
                    </td>
                <td>
                <div class="forms">
                    <form action="/account/updateName" method="post" class="authForm">
                        <div class="input-field col s6">
                            <input id="name" type="text" name="nameInput"
                                   value="{{#each user}}{{name}}{{/each}}" required>
                            <label for="name">Imię</label>
                            <button type="submit" class="btn-floating">Zapisz</button>
                        </div>
                    </form>
                    <form action="/account/updateSurname" method="post" class="authForm">
                        <div class="input-field col s6">
                            <input id="surname" type="text" name="surnameInput"
                                   value="{{#each user}}{{surname}}{{/each}}" required>
                            <label for="surname">Nazwisko</label>
                            <button type="submit" class="btn-floating">Zapisz</button>
                        </div>
                    </form>
                {{#if user.googleID}}
                {{else}}
                        <form action="/account/updateEmail" method="post" class="authForm">
                            <div class="input-field col s6">
                                <input id="email" type="email" name="emailInput"
                                       value="{{#each user}}{{email}}{{/each}}" required>
                                <label for="email">E-mail</label>
                                <button type="submit" class="btn-floating">Zapisz</button>
                            </div>
                        </form>
                    </div>
                    </td>
                    </tr>
                    <tr>
                        <td class="formsTitle">
                            <h5>Hasło</h5>
                            <p>Możliwość zmiany hasła</p>
                        </td>
                        <td>
                            <div class="forms">
                                <form action="/account/updatePass" method="post" class="authForm">
                                    <div class="input-field col s6">
                                        <input id="password" type="password" name="passwordInput"
                                               required>
                                        <label for="password">Obecne hasło</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="password" type="password" name="passwordNewInput"
                                               required>
                                        <label for="password">Nowe hasło</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="password" type="password" name="passwordConfirmNewInput"
                                               required>
                                        <label for="password">Powtórz nowe hasło</label>
                                    </div>
                                    <button type="submit" class="btn-floating">Zapisz</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {{/if}}
                <tr>
                    <td class="formsTitle">
                        <h5>Inne</h5>
                        <p>Domyślne ustawienia</p>
                    </td>
                    <td>
                        <table class="defaults">
                            <tbody>
                            <tr>
                                <td>
                                    <label>
                                        Ciemny motyw
                                    </label>
                                </td>
                                <td>
                                    <form class="updateTheme" method="post" action="/account/updateTheme">
                                        <div class="switch">
                                            <label>
                                                <input type="checkbox"
                                                       name="themeSwitch" {{user.config.theme.dark.value}}>
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Widok listy
                                    </label>
                                </td>
                                <td>
                                    <div class="switch">
                                        <label>
                                            <input type="checkbox" name="listSwitch">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>